### 1. **Grouping by a Single Column**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Salary', calculate the average salary for each department.

In [1]:
import pandas as pd

df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Salary': [50000, 80000, 55000, 90000, 60000]
})

result = df.groupby('Department')['Salary'].mean()
print(result)

Department
Engineering    85000
HR             52500
Sales          60000
Name: Salary, dtype: int64

### 2. **Grouping by Multiple Columns**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', and 'Salary', calculate the average salary for each department and gender combination.

In [2]:
df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Gender': ['F', 'M', 'F', 'M', 'F'],
   'Salary': [50000, 55000, 80000, 90000, 60000]
})

result = df.groupby(['Department', 'Gender'])['Salary'].mean()
print(result)

Department   Gender
Engineering  F         80000
             M         90000
HR           F         50000
             M         55000
Sales        F         60000
Name: Salary, dtype: int64

### 3. **Aggregating with Multiple Functions**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Salary', calculate both the average and total salary for each department.

In [3]:
df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Salary': [50000, 80000, 55000, 90000, 60000]
})

result = df.groupby('Department')['Salary'].agg(['mean', 'sum'])
print(result)

              mean     sum
Department
Engineering  85000  170000
HR           52500  105000
Sales        60000   60000

### 4. **Custom Aggregation Functions**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Salary', calculate the range of salaries (max - min) for each department.

In [4]:
def salary_range(x):
   return x.max() - x.min()

df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Salary': [50000, 80000, 55000, 90000, 60000]
})

result = df.groupby('Department')['Salary'].agg(salary_range)
print(result)

Department
Engineering    10000
HR              5000
Sales              0
Name: Salary, dtype: int64

### 5. **Counting Occurrences**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Employee', count the number of employees in each department.

In [5]:
df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
})

result = df.groupby('Department')['Employee'].count()
print(result)

Department
Engineering    2
HR             2
Sales          1
Name: Employee, dtype: int64

### 6. **Applying Multiple Aggregations to Different Columns**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Age', and 'Salary', calculate the average age and total salary for each department.

In [6]:
df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Age': [25, 30, 35, 40, 28],
   'Salary': [50000, 80000, 55000, 90000, 60000]
})

result = df.groupby('Department').agg({'Age': 'mean', 'Salary': 'sum'})
print(result)

             Age  Salary
Department
Engineering   35  170000
HR            30  105000
Sales         28   60000

### 7. **Using Transform for Group-Wise Operations**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Salary', create a new column 'Salary_Rank' that contains the rank of each employee's salary within their department.

In [7]:
df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Salary': [50000, 55000, 80000, 90000, 60000]
})

df['Salary_Rank'] = df.groupby('Department')['Salary'].rank(ascending=False)
print(df)

    Department  Salary  Salary_Rank
0           HR   50000          2.0
1           HR   55000          1.0
2  Engineering   80000          2.0
3  Engineering   90000          1.0
4        Sales   60000          1.0

### 8. **Filling Missing Values by Group**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', fill missing salary values with the average salary of their respective department.

In [8]:
df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
   'Salary': [50000, None, 80000, 90000, None]
})

df['Salary'] = df.groupby('Department')['Salary'].transform(lambda x: x.fillna(x.mean()))
print(df)

    Department Employee   Salary
0           HR    Alice  50000.0
1           HR      Bob  50000.0
2  Engineering  Charlie  80000.0
3  Engineering    David  90000.0
4        Sales      Eve      NaN

### 9. **Filtering Groups Based on a Condition**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Salary', filter the departments to include only those with an average salary greater than 60,000.

In [9]:
df = pd.DataFrame({
   'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
   'Salary': [50000, 80000, 55000, 90000, 60000]
})

avg_salary = df.groupby('Department')['Salary'].mean()
filtered_departments = avg_salary[avg_salary > 60000].index
result = df[df['Department'].isin(filtered_departments)]
print(result)

    Department  Salary
1  Engineering   80000
3  Engineering   90000

### 10. **Calculating Grouped Cumulative Sums**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department' and 'Sales', calculate the cumulative sales for each department.

In [10]:
df = pd.DataFrame({
    'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
    'Sales': [100, 150, 200, 250, 300]
})

df['Cumulative_Sales'] = df.groupby('Department')['Sales'].cumsum()
print(df)

    Department  Sales  Cumulative_Sales
0           HR    100               100
1           HR    150               250
2  Engineering    200               200
3  Engineering    250               450
4        Sales    300               300

### 11. **Calculating Grouped Rolling Windows**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Date', and 'Sales', calculate the 3-day rolling average sales for each department.

In [11]:
df = pd.DataFrame({
    'Department': ['HR', 'HR', 'HR', 'Engineering', 'Engineering', 'Engineering', 'Sales', 'Sales', 'Sales'],
    'Date': pd.date_range(start='2022-01-01', periods=9),
    'Sales': [100, 150, 200, 200, 250, 300, 300, 350, 400]
})

df['Rolling_Avg_Sales'] = df.groupby('Department')['Sales'].rolling(window=3).mean().reset_index(0, drop=True)
print(df)

    Department       Date  Sales  Rolling_Avg_Sales
0           HR 2022-01-01    100                NaN
1           HR 2022-01-02    150                NaN
2           HR 2022-01-03    200              150.0
3  Engineering 2022-01-04    200                NaN
4  Engineering 2022-01-05    250                NaN
5  Engineering 2022-01-06    300              250.0
6        Sales 2022-01-07    300                NaN
7        Sales 2022-01-08    350                NaN
8        Sales 2022-01-09    400              350.0

### 12. **Grouping by Date Components**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Date' and 'Sales', calculate the total sales for each year.

In [12]:
df = pd.DataFrame({
    'Date': pd.date_range(start='2020-01-01', periods=365*3),
    'Sales': range(365*3)
})

df['Year'] = df['Date'].dt.year
result = df.groupby('Year')['Sales'].sum()
print(result)

Year
2020     66795
2021    200020
2022    332150
Name: Sales, dtype: int64

### 13. **Aggregating with Different Functions for Different Columns**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Age', and 'Salary', calculate the minimum age and the maximum salary for each department.

In [13]:
df = pd.DataFrame({
    'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'Sales'],
    'Age': [25, 30, 35, 40, 28],
    'Salary': [50000, 80000, 55000, 90000, 60000]
})

result = df.groupby('Department').agg({'Age': 'min', 'Salary': 'max'})
print(result)

             Age  Salary
Department
Engineering   30   90000
HR            25   55000
Sales         28   60000

### 14. **Pivot Table for Aggregation**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', and 'Salary', create a pivot table to calculate the average salary for each department and gender combination.

In [14]:
df = pd.DataFrame({
    'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
    'Gender': ['F', 'M', 'F', 'M', 'F'],
    'Salary': [50000, 55000, 80000, 90000, 60000]
})

pivot_table = df.pivot_table(values='Salary', index='Department', columns='Gender', aggfunc='mean')
print(pivot_table)

Gender             F        M
Department
Engineering  80000.0  90000.0
HR           50000.0  55000.0
Sales        60000.0      NaN

### 15. **Group and Aggregate with Multiple Index Levels**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Country', 'City', and 'Population

', calculate the total population for each country and city combination.

In [15]:
df = pd.DataFrame({
    'Country': ['USA', 'USA', 'Canada', 'Canada', 'Mexico'],
    'City': ['New York', 'Los Angeles', 'Toronto', 'Vancouver', 'Mexico City'],
    'Population': [8000000, 4000000, 3000000, 2500000, 9000000]
})

result = df.groupby(['Country', 'City'])['Population'].sum()
print(result)

Country  City
Canada   Toronto        3000000
         Vancouver      2500000
Mexico   Mexico City    9000000
USA      Los Angeles    4000000
         New York       8000000
Name: Population, dtype: int64