### 1. **Basic Pivot Table**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each department.

In [1]:
import pandas as pd

df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
   'Salary': [50000, 55000, 80000, 90000, 60000]
})

pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc='mean')
print(pivot_table)

             Salary
Department
Engineering   85000
HR            52500
Sales         60000

### 2. **Pivot Table with Multiple Aggregation Functions**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', create a pivot table to calculate both the average and total salary for each department.

In [2]:
pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc=['mean', 'sum'])
print(pivot_table)

              mean     sum
            Salary  Salary
Department
Engineering  85000  170000
HR           52500  105000
Sales        60000   60000

### 3. **Pivot Table with Multiple Indexes**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each department and gender combination.

In [3]:
df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Gender': ['F', 'M', 'F', 'M', 'F'],
   'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
   'Salary': [50000, 55000, 80000, 90000, 60000]
})

pivot_table = df.pivot_table(values='Salary', index=['Department', 'Gender'], aggfunc='mean')
print(pivot_table)

                    Salary
Department  Gender
Engineering F        80000
            M        90000
HR          F        50000
            M        55000
Sales       F        60000

### 
4. **Pivot Table with Columns Parameter**:
  **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each gender within each department.

In [4]:
pivot_table = df.pivot_table(values='Salary', index='Department', columns='Gender', aggfunc='mean')
print(pivot_table)

Gender             F        M
Department
Engineering  80000.0  90000.0
HR           50000.0  55000.0
Sales        60000.0      NaN

### 5. **Pivot Table with Margins**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each department and gender combination, including the overall average.

In [5]:
pivot_table = df.pivot_table(values='Salary', index=['Department', 'Gender'], aggfunc='mean', margins=True)
print(pivot_table)

                    Salary
Department  Gender
Engineering F        80000
            M        90000
HR          F        50000
            M        55000
Sales       F        60000
All                  67000

### 6. **Pivot Table with Fill Value**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each department and gender combination, filling missing values with 0.

In [6]:
pivot_table = df.pivot_table(values='Salary', index='Department', columns='Gender', aggfunc='mean', fill_value=0)
print(pivot_table)

Gender           F      M
Department
Engineering  80000  90000
HR           50000  55000
Sales        60000      0

### 7. **Pivot Table with Multiple Values**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Gender', 'Employee', 'Age', and 'Salary', create a pivot table to calculate both the average age and total salary for each department and gender combination.

In [7]:
df = pd.DataFrame({
   'Department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales'],
   'Gender': ['F', 'M', 'F', 'M', 'F'],
   'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
   'Age': [25, 30, 35, 40, 28],
   'Salary': [50000, 55000, 80000, 90000, 60000]
})

pivot_table = df.pivot_table(values=['Age', 'Salary'], index=['Department', 'Gender'], aggfunc={'Age': 'mean', 'Salary': 'sum'})
print(pivot_table)

                    Age  Salary
Department  Gender
Engineering F        35   80000
            M        40   90000
HR          F        25   50000
            M        30   55000
Sales       F        28   60000

### 8. **Pivot Table with Time Series Data**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Date', 'Sales', and 'Region', create a pivot table to calculate the total sales for each month in each region.

In [18]:
import pandas as pd

df = pd.DataFrame({
    'Date': pd.date_range(start='2022-01-01', periods=365, freq='D'),
    'Sales': range(365),
    'Region': (['North', 'South', 'East', 'West'] * (365 // 4 + 1))[:365]  # Ensure length is exactly 365
})

df['Month'] = df['Date'].dt.to_period('M')
pivot_table = df.pivot_table(values='Sales', index='Month', columns='Region', aggfunc='sum')
print(pivot_table)

Region   East  North  South  West
Month
2022-01   128    112    120   105
2022-02   322    308    315   301
2022-03   518    592    600   584
2022-04   832    728    735   840
2022-05  1088   1072   1080   945
2022-06  1162   1328   1155  1320
2022-07  1568   1372   1560  1576
2022-08  1824   1808   1816  1589
2022-09  1806   2064   1799  2056
2022-10  2304   2016   2296  2312
2022-11  2226   2544   2552  2233
2022-12  2784   2800   2443  2792

### 9. **Pivot Table with Custom Aggregation Functions**:
   - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', create a pivot table to calculate the range of salaries (max - min) for each department.

In [11]:
def salary_range(x):
   return x.max() - x.min()

pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc=salary_range)
print(pivot_table)

             Salary
Department
Engineering   10000
HR             5000
Sales             0

### 10. **Pivot Table with Aggregation and Filtering**:
    - **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', 'Age', and 'Salary', create a pivot table to calculate the average salary for each department and filter the results to include only departments with an average salary greater than 60000.

In [12]:
pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc='mean')
result = pivot_table[pivot_table['Salary'] > 60000]
print(result)

             Salary
Department
Engineering   85000

### 11. **Pivot Table with Multi-Level Index and Columns**:
    - **Problem Statement**: Given a DataFrame `df` with columns 'Region', 'Department', 'Gender', and 'Sales', create a pivot table to calculate the total sales for each region and department, broken down by gender.

In [13]:
df = pd.DataFrame({
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Engineering'],
    'Gender': ['F', 'M', 'F', 'M', 'F', 'M', 'F', 'M'],
    'Sales': [100, 200, 150, 250, 120, 220, 130, 230]
})

pivot_table = df.pivot_table(values='Sales', index=['Region', 'Department'], columns='Gender', aggfunc='sum')
print(pivot_table)

Gender                  F      M
Region Department
East   Engineering    NaN  220.0
       HR           120.0    NaN
North  Engineering    NaN  200.0
       HR           100.0    NaN
South  Engineering    NaN  250.0
       HR           150.0    NaN
West   Engineering    NaN  230.0
       HR           130.0    NaN

### 12. **Pivot Table with Custom Index Names**:
    - **Problem Statement**: Given a DataFrame `df` with columns 'Product', 'Category', and 'Sales', create a pivot table to calculate the total sales for each category, and rename the index to 'Product Category'.

In [14]:
df = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture', 'Office Supplies'],
    'Sales': [200, 300, 150, 250, 100]
})

pivot_table = df.pivot_table(values='Sales', index='Category', aggfunc='sum')
pivot_table.index.name = 'Product Category'
print(pivot_table)

                  Sales
Product Category
Electronics         500
Furniture           400
Office Supplies     100

### 13. **Pivot Table with Reindexing**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', create a pivot table to calculate the average salary for each department, and reindex the pivot table to include all departments ['HR', 'Engineering', 'Sales', 'Marketing'] even if they are not present in the data.

```python

departments = ['HR', 'Engineering', 'Sales', 'Marketing']
pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc='mean').reindex(departments)
print(pivot_table)
```

### 14. **Pivot Table with Sorting**:
   **Problem Statement**: Given a DataFrame `df` with columns 'Department', 'Employee', and 'Salary', create a pivot table to calculate the total salary for each department and sort the results by total salary in descending order.

```python
pivot_table = df.pivot_table(values='Salary', index='Department', aggfunc='sum').sort_values(by='Salary', ascending=False)
print(pivot_table)
```

### 15. **Pivot Table with Index and Column Names**:
  **Problem Statement**: Given a DataFrame `df` with columns 'Region', 'Department', 'Employee', and 'Sales', create a pivot table to calculate the total sales for each region and department, and rename the index to 'Region' and columns to 'Department'.

In [17]:
df = pd.DataFrame({
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'Department': ['HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Engineering', 'HR', 'Engineering'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hank'],
    'Sales': [100, 200, 150, 250, 120, 220, 130, 230]
})

pivot_table = df.pivot_table(values='Sales', index='Region', columns='Department', aggfunc='sum')
pivot_table.index.name = 'Region'
pivot_table.columns.name = 'Department'
print(pivot_table)

Department  Engineering   HR
Region
East                220  120
North               200  100
South               250  150
West                230  130