### 1. **Connecting to a SQL Database**:
   - **Problem Statement**: Given a SQLite database file `database.db` containing a table `employees`, write a Pandas code snippet to connect to the database and load the table into a DataFrame.

```python
   import pandas as pd
   import sqlite3

   conn = sqlite3.connect('database.db')
   df = pd.read_sql_query("SELECT * FROM employees", conn)
   print(df.head())
   ```

### 2. **Filtering Data from SQL Database**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db` and load only the rows where the `age` is greater than 30 into a DataFrame.

  ```python
   df = pd.read_sql_query("SELECT * FROM employees WHERE age > 30", conn)
   print(df.head())
   ```

### 3. **Joining Tables from SQL Database**:
   - **Problem Statement**: Given two tables `employees` and `departments` in `database.db`, write a Pandas code snippet to perform an inner join on the `department_id` column and load the result into a DataFrame.

```python
query = """
SELECT e.*, d.department_name 
FROM employees e
JOIN departments d ON e.department_id = d.department_id
"""
df = pd.read_sql_query(query, conn)
print(df.head())
```

### 4. **Grouping and Aggregating Data from SQL Database**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db`, group the data by `department_id`, and calculate the average salary for each department.

 ```python
   query = "SELECT department_id, AVG(salary) AS avg_salary FROM employees GROUP BY department_id"
   df = pd.read_sql_query(query, conn)
   print(df)
   ```

### 5. **Handling Missing Values in SQL Queries**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db` and load only the rows where the `salary` column is not null into a DataFrame.


   ```python
   df = pd.read_sql_query("SELECT * FROM employees WHERE salary IS NOT NULL", conn)
   print(df.head())
   ```

### 6. **Sorting Data from SQL Database**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db` and load the data sorted by `salary` in descending order into a DataFrame.

 ```python
   df = pd.read_sql_query("SELECT * FROM employees ORDER BY salary DESC", conn)
   print(df.head())
   ```

### 7. **Querying with Multiple Conditions**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db` and load the rows where the `age` is greater than 30 and `department_id` is 1 into a DataFrame.

```python
df = pd.read_sql_query("SELECT * FROM employees WHERE age > 30 AND department_id = 1", conn)
print(df.head())
```

### 8. **Using SQL Functions in Queries**:
   - **Problem Statement**: Write a Pandas code snippet to query the `employees` table from `database.db` and load the data with an additional column `annual_salary` calculated as `salary * 12`.

```python
   query = "SELECT *, salary * 12 AS annual_salary FROM employees"
   df = pd.read_sql_query(query, conn)
   print(df.head())
   ```

### 9. **Performing a Left Join**:
   - **Problem Statement**: Given two tables `employees` and `departments` in `database.db`, write a Pandas code snippet to perform a left join on the `department_id` column and load the result into a DataFrame.

   ```python
   query = """
   SELECT e.*, d.department_name 
   FROM employees e
   LEFT JOIN departments d ON e.department_id = d.department_id
   """
   df = pd.read_sql_query(query, conn)
   print(df.head())
   ```

### 10. **Writing Data Back to SQL Database**:
    - **Problem Statement**: Given a DataFrame `new_employees`, write a Pandas code snippet to insert this data into the `employees` table in `database.db`.

```python
new_employees = pd.DataFrame({
    'employee_id': [6, 7],
    'name': ['Frank', 'Grace'],
    'age': [28, 32],
    'department_id': [2, 1],
    'salary': [70000, 80000]
})

new_employees.to_sql('employees', conn, if_exists='append', index=False)
df = pd.read_sql_query("SELECT * FROM employees", conn)
print(df.tail())
```