### 1. **Creating a Time Series DataFrame**:
   - **Problem Statement**: Create a DataFrame `df` with a date range from January 1, 2023, to January 10, 2023, with daily frequency and a column 'Value' with random integers between 1 and 100.

In [1]:
   import pandas as pd
   import numpy as np

   date_range = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')
   df = pd.DataFrame({
       'Date': date_range,
       'Value': np.random.randint(1, 100, len(date_range))
   })
   df.set_index('Date', inplace=True)
   print(df)

            Value
Date
2023-01-01     77
2023-01-02     64
2023-01-03     23
2023-01-04     80
2023-01-05     66
2023-01-06     73
2023-01-07     10
2023-01-08     27
2023-01-09     95
2023-01-10     83

### 2. **Resampling Time Series Data**:
   - **Problem Statement**: Given a DataFrame `df` with daily time series data, resample the data to a weekly frequency, calculating the sum of 'Value' for each week.

In [2]:
weekly_df = df.resample('W').sum()
print(weekly_df)

            Value
Date
2023-01-01     77
2023-01-08    343
2023-01-15    178

### 3. **Shifting Time Series Data**:
   - **Problem Statement**: Given a DataFrame `df` with daily time series data, create a new column 'Previous_Value' which contains the 'Value' column shifted by one day.

In [3]:
df['Previous_Value'] = df['Value'].shift(1)
print(df)

            Value  Previous_Value
Date
2023-01-01     77             NaN
2023-01-02     64            77.0
2023-01-03     23            64.0
2023-01-04     80            23.0
2023-01-05     66            80.0
2023-01-06     73            66.0
2023-01-07     10            73.0
2023-01-08     27            10.0
2023-01-09     95            27.0
2023-01-10     83            95.0

### 4. **Rolling Window Calculation**:
   - **Problem Statement**: Given a DataFrame `df` with daily time series data, calculate a 3-day rolling mean of the 'Value' column and add it as a new column 'Rolling_Mean'.

In [4]:
df['Rolling_Mean'] = df['Value'].rolling(window=3).mean()
print(df)

            Value  Previous_Value  Rolling_Mean
Date
2023-01-01     77             NaN           NaN
2023-01-02     64            77.0           NaN
2023-01-03     23            64.0     54.666667
2023-01-04     80            23.0     55.666667
2023-01-05     66            80.0     56.333333
2023-01-06     73            66.0     73.000000
2023-01-07     10            73.0     49.666667
2023-01-08     27            10.0     36.666667
2023-01-09     95            27.0     44.000000
2023-01-10     83            95.0     68.333333

### 5. **Time Series Data Filtering**:
   - **Problem Statement**: Given a DataFrame `df` with daily time series data, filter the data to include only rows where the date is in January 2023.

In [5]:
filtered_df = df['2023-01']
print(filtered_df)

            Value  Previous_Value  Rolling_Mean
Date
2023-01-01     77             NaN           NaN
2023-01-02     64            77.0           NaN
2023-01-03     23            64.0     54.666667
2023-01-04     80            23.0     55.666667
2023-01-05     66            80.0     56.333333
2023-01-06     73            66.0     73.000000
2023-01-07     10            73.0     49.666667
2023-01-08     27            10.0     36.666667
2023-01-09     95            27.0     44.000000
2023-01-10     83            95.0     68.333333

### 6. **Time Series Data Interpolation**:
   - **Problem Statement**: Given a DataFrame `df` with missing 'Value' entries, fill the missing values using linear interpolation.

In [6]:
df.loc['2023-01-05', 'Value'] = np.nan  # Introduce a missing value for demonstration
df['Value'] = df['Value'].interpolate()
print(df)

            Value  Previous_Value  Rolling_Mean
Date
2023-01-01   77.0             NaN           NaN
2023-01-02   64.0            77.0           NaN
2023-01-03   23.0            64.0     54.666667
2023-01-04   80.0            23.0     55.666667
2023-01-05   76.5            80.0     56.333333
2023-01-06   73.0            66.0     73.000000
2023-01-07   10.0            73.0     49.666667
2023-01-08   27.0            10.0     36.666667
2023-01-09   95.0            27.0     44.000000
2023-01-10   83.0            95.0     68.333333

### 7. **Decomposing Time Series Data**:
   - **Problem Statement**: Given a DataFrame `df` with daily time series data, decompose the time series into trend, seasonal, and residual components.

In [8]:
from statsmodels.tsa.seasonal import seasonal_decompose

result = seasonal_decompose(df['Value'], model='additive', period=3)
df['Trend'] = result.trend
df['Seasonal'] = result.seasonal
df['Residual'] = result.resid
print(df)

            Value  Previous_Value  Rolling_Mean      Trend  Seasonal  \
Date
2023-01-01   77.0             NaN           NaN        NaN -2.851852
2023-01-02   64.0            77.0           NaN  54.666667 -2.157407
2023-01-03   23.0            64.0     54.666667  55.666667  5.009259
2023-01-04   80.0            23.0     55.666667  59.833333 -2.851852
2023-01-05   76.5            80.0     56.333333  76.500000 -2.157407
2023-01-06   73.0            66.0     73.000000  53.166667  5.009259
2023-01-07   10.0            73.0     49.666667  36.666667 -2.851852
2023-01-08   27.0            10.0     36.666667  44.000000 -2.157407
2023-01-09   95.0            27.0     44.000000  68.333333  5.009259
2023-01-10   83.0            95.0     68.333333        NaN -2.851852

             Residual
Date
2023-01-01        NaN
2023-01-02  11.490741
2023-01-03 -37.675926
2023-01-04  23.018519
2023-01-05   2.157407
2023-01-06  14.824074
2023-01-07 -23.814815
2023-01-08 -14.842593
2023-01-09  21.657407
2023-01-10        NaN

### 8. **Calculating Time Differences**:
   - **Problem Statement**: Given a DataFrame `df` with a column 'Event_Date', calculate the number of days between each 'Event_Date' and a fixed date (e.g., January 1, 2023).

In [9]:
df['Event_Date'] = pd.to_datetime(df.index)
df['Days_From_Start'] = (df['Event_Date'] - pd.Timestamp('2023-01-01')).dt.days
print(df)

            Value  Previous_Value  Rolling_Mean      Trend  Seasonal  \
Date
2023-01-01   77.0             NaN           NaN        NaN -2.851852
2023-01-02   64.0            77.0           NaN  54.666667 -2.157407
2023-01-03   23.0            64.0     54.666667  55.666667  5.009259
2023-01-04   80.0            23.0     55.666667  59.833333 -2.851852
2023-01-05   76.5            80.0     56.333333  76.500000 -2.157407
2023-01-06   73.0            66.0     73.000000  53.166667  5.009259
2023-01-07   10.0            73.0     49.666667  36.666667 -2.851852
2023-01-08   27.0            10.0     36.666667  44.000000 -2.157407
2023-01-09   95.0            27.0     44.000000  68.333333  5.009259
2023-01-10   83.0            95.0     68.333333        NaN -2.851852

             Residual Event_Date  Days_From_Start
Date
2023-01-01        NaN 2023-01-01                0
2023-01-02  11.490741 2023-01-02                1
2023-01-03 -37.675926 2023-01-03                2
2023-01-04  23.018519 2023-01-04                3
2023-01-05   2.157407 2023-01-05                4
2023-01-06  14.824074 2023-01-06                5
2023-01-07 -23.814815 2023-01-07                6
2023-01-08 -14.842593 2023-01-08                7
2023-01-09  21.657407 2023-01-09                8
2023-01-10        NaN 2023-01-10                9

### 9. **Handling Time Zones**:
   - **Problem Statement**: Given a DataFrame `df` with a 'Date' column in UTC, convert the 'Date' column to Eastern Time (ET).

In [10]:
df = df.tz_localize('UTC').tz_convert('US/Eastern')
print(df)

                           Value  Previous_Value  Rolling_Mean      Trend  \
Date
2022-12-31 19:00:00-05:00   77.0             NaN           NaN        NaN
2023-01-01 19:00:00-05:00   64.0            77.0           NaN  54.666667
2023-01-02 19:00:00-05:00   23.0            64.0     54.666667  55.666667
2023-01-03 19:00:00-05:00   80.0            23.0     55.666667  59.833333
2023-01-04 19:00:00-05:00   76.5            80.0     56.333333  76.500000
2023-01-05 19:00:00-05:00   73.0            66.0     73.000000  53.166667
2023-01-06 19:00:00-05:00   10.0            73.0     49.666667  36.666667
2023-01-07 19:00:00-05:00   27.0            10.0     36.666667  44.000000
2023-01-08 19:00:00-05:00   95.0            27.0     44.000000  68.333333
2023-01-09 19:00:00-05:00   83.0            95.0     68.333333        NaN

                           Seasonal   Residual Event_Date  Days_From_Start
Date
2022-12-31 19:00:00-05:00 -2.851852        NaN 2023-01-01                0
2023-01-01 19:00:00-05:00 -2.157407  11.490741 2023-01-02                1
2023-01-02 19:00:00-05:00  5.009259 -37.675926 2023-01-03                2
2023-01-03 19:00:00-05:00 -2.851852  23.018519 2023-01-04                3
2023-01-04 19:00:00-05:00 -2.157407   2.157407 2023-01-05                4
2023-01-05 19:00:00-05:00  5.009259  14.824074 2023-01-06                5
2023-01-06 19:00:00-05:00 -2.851852 -23.814815 2023-01-07                6
2023-01-07 19:00:00-05:00 -2.157407 -14.842593 2023-01-08                7
2023-01-08 19:00:00-05:00  5.009259  21.657407 2023-01-09                8
2023-01-09 19:00:00-05:00 -2.851852        NaN 2023-01-10                9

### 10. **Aggregating Time Series Data by Month**:
   **Problem Statement**: Given a DataFrame `df` with daily time series data, aggregate the data by month, calculating the mean 'Value' for each month.

In [11]:
monthly_df = df.resample('M').mean()
print(monthly_df)

                               Value  Previous_Value  Rolling_Mean      Trend  \
Date
2022-12-31 00:00:00-05:00  77.000000             NaN           NaN        NaN
2023-01-31 00:00:00-05:00  59.055556       57.222222     54.791667  56.104167

                               Seasonal  Residual  Days_From_Start
Date
2022-12-31 00:00:00-05:00 -2.851852e+00       NaN                0
2023-01-31 00:00:00-05:00  1.480297e-16 -0.398148                5